#cu-logo{
    width: 15rem;
}

/* Navbar */
.navbar{
    background-color: white;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Elements */
li{
    margin: auto 1em auto auto;
}

/* Responsibilty */
.res{
    background-color: #343A40;
    color: #ffffff;
    padding-left: 30px;
    margin-bottom: 3rem;
}
.res-container{
    margin-bottom: 3rem;
}
.res-heading-rows,.res-rows{
    text-align: center;
}
.res-rows{
    font-weight: 400;
}
.res-rows-serial{
    text-align: center;
    font-size: large;
}

#res-heading{
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}
#res-subheading{
    font-style: italic;
    font-size: large;
}