/* Images */
#cu-logo{
    width: 15rem;
}
#profile-picture{
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 0px 5px 5px black;
}


/* details */
.icons-details{
    margin: auto;
    text-align: right;
}
.type-details{
    margin: auto;
    text-align: center;
}
.info-details{
    margin: auto;
    text-align: left;
    font-weight: bold;
}
.row-details{
    margin-bottom: 25px;
}


.navbar{
    background-color: white;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 1;
}

.profile-basic-details{
    margin-top:5rem;
    margin-bottom: 5rem;
    padding: 1%;
    color: #ffffff;
    background-color: #343A40;
    font-family: 'Ubuntu' , sans-serif;
}


/* Lists */
li{
    margin: auto 1em auto auto;
}

#phone-number{
    padding: 0;
    margin: 0;
    width: max-content;
}




/* profile */
#profile-name{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Montserrat' , sans-serif;
}
#profile-current-position{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu',sans-serif;
    color: #D12023;
}

/* Information */
#information{
    margin-top: 5rem;
    /* background-color: red; */
}

/* Experience */
.xp{
    background-color: #343A40;
    color: #ffffff;
    padding-left: 30px;
    margin-bottom: 3rem;
}
#xp-heading{
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}
#xp-subheading{
    font-style: italic;
    font-size: large;
}
.xp-container{
    margin-bottom: 3rem;
}
.xp-heading-rows,.xp-rows{
    text-align: center;
}
.xp-rows{
    font-weight: 400;
}

/* Qualification */
.qual{
    background-color: #343A40;
    color: #ffffff;
    padding-left: 30px;
    margin-bottom: 2rem;
}
.qual-container{
    margin-bottom: 3rem;
    text-align: center;
}
.qual-head{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat',sans-serif;
}
.qual-content{
    text-align: justify;
    font-size: large;
    font-family: 'Ubutu',sans-serif;
}

#qual-heading{
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}

.card-header{
    background-color: #343A40;
}
.card-body{
    text-align: left;
    font-family: 'Ubuntu',sans-serif;
}

.degree-btn{
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    font-size: large;
    font-weight: bold;
}
.degree-btn:hover{
    color: lightblue;
}

/* Vision */
.vision{
    background-color: #343A40;
    color: #ffffff;
    padding-left: 30px;
    margin-bottom: 2rem;
}
.vision-container{
    margin-bottom: 3rem;
    text-align: center;
}
.vision-goal-content{
    text-align: left;
    margin-bottom: 1rem;
}

#vision-heading{
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}
#vision-subheading{
    font-style: italic;
    font-size: large;
}



/* Responsive */
@media only screen and (max-width: 768px) {
    #profile-picture{
        width: 7rem;
        height: 7rem;
    }
    #profile-name{
        font-size: 30px;
    }
    #profile-current-position{
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) {
    #profile-picture{
        width: 13rem;
        height: 13rem;
    }
}
@media only screen and (min-width: 992px) {
    #profile-picture{
        width: 15rem;
        height: 15rem;
    }
}
@media only screen and (min-width: 1200px) {
    #profile-picture{
        width: 20rem;
        height: 20rem;
    }
}